/.vs
/2010.00717.pdf
/2017_ArthurFerreiraRedesNeuraisConvolucionariasVeiculoAutonomo.pdf
/3 - RNA Convolucionais Saulo.pdf
/BOOK - Python Deep Learning Exploring deep learning techniques, neural network architectures and GANs with PyTorch, Keras and TensorFlow by Ivan Vasilev, Daniel Slater, Gia.pdf
/corridaV1
/corridaV2
/corridaV3.rar
/redes neurais 1  - anotacoes
/redes neurais 2 - anotacoes
/Redes Neurais_1_modelo.pdf
/Redes Neurais_2_aprendizagem.pdf
/redes_neurais.pdf
/regressaoLogistica.py
/testes
/Trabalho
/É exibida uma camada de entrada bidimensional de uma rede neural.docx